{
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@constants/(.*)$",
    "^[./].*(?<!\\.(c|le|sc)ss)$",
    "^[.]/[-a-zA-Z0-9_]+[.](module)[.](css|scss|less)$"
  ],
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
